{{#Items}} <!--Section tag for iterating through the list of items-->
{{#Item}} <!-- Section tag for beginning of information on one item -->
{{#aalb}} <!-- Section tag for picking up information on attributes for the item -->
    <img src="{{MediumImageURL}}" srcset="{{LargeImageURL}}" alt="{{Title}}" style="display: block; margin: 0 auto;"/>
{{/aalb}}
{{/Item}}
{{/Items}}



